@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
    background: url(../images/bg.png) top center no-repeat fixed;
    width: 100%;
	height: 100vh;
	background-size: cover;
}

/* entrance */
.entrance{
    text-align: center;
    margin-top: 60vh;
}

/* gatefold */
.gatefold {
	width: 100%;
	height: 100%;
    text-align: center;
}

.gatefold::before,
.gatefold::after {
	content: '';
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: url(../images/bg.png) top center no-repeat;
	background-size: cover;
	-webkit-transition: all 2s;
	transition: all 2s;
	z-index: 1;
}

.gatefold::before {
	left: 0;
	clip: rect(0px 50vw 100vh 0px);
}

.gatefold::after {
	right: 0;
	clip: rect(0px 100vw 100vh 50vw);
}


/* checkbox */
.check {
	display: none;
}

.check.fade:checked ~ .switch.fade::before{
	content: none;
}

.check.fade:checked ~ .gatefold::before {
	-webkit-transform: translate3d(-1100px,0,0);
	transform: translate3d(-1100px,0,0);
    opacity: 0;
}
.check.fade:checked ~ .gatefold::after {
	-webkit-transform: translate3d(1100px,0,0);
	transform: translate3d(1100px,0,0);
    opacity: 0;
}